{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - Guitars R Us</title>

    <!-- Start of the style section -->
    <style>
        /* Style for the header */
        .header {
            background-color: #3da0c7;
            padding: 20px;
            width: 98%;
            text-align: center;
            padding: 0 10px;
        }

        /* Style for the center container */
        .center-container {
            text-align: center;
            margin: 0 auto;
            max-width: 600px;
        }
    </style>
    <!-- End of the style section -->

</head>

<body>
    <div class="header">
    </div>
    <div class="center-container">
        <h1>Contact Us</h1>
        <p>If you have any questions or feedback, please feel free to get in touch with us.</p>
        <p>Email: guitarsRUs@gmail.com</p>
        </form>
    </div>

</body>

</html>
